.listPage {
  display: flex;
  height: 100%;
  .listContainer {
    flex: 3;

    .wrapper {
      padding-right: 50px;
      display: flex;
      flex-direction: column;
      gap: 20px;
      overflow-y: scroll;
    }
  }
  .mapContainer {
    background-color: #fcf5f3;
    flex: 2;
  }
}
